.main{
            margin: 5px;
            font-family: Arial;
        }
        .topbar{
            float: left;
            background-color: black;
            margin: 0;
            width: 100%;
            height: 75px;
            border-radius: 10px;
        }
        .bname{
            float: left;
            font-size: 30px;
            color: white;
            padding: 20px 30px;
            font-family: Arial;

        }
        .log{
            padding-top: 15px;
            margin-right: 15px;
        }
        .log a{
            float: right;
            font-size: 20px;
            color: white;
            align-content: center;
            padding: 10px 15px;
            text-decoration: none;
            font-family: Arial;
            font-weight: bold;
        }
        .log a:hover{
            background-color: white;
            color: black;
            border-radius: 5px;
        }
        .con1{
            float: left;
            width: 40%;
            height: 100%;
            margin: 30px;
            background-color: white;
            box-shadow: black;
            border-radius: 10px;
        }