body {
  background: l#8FABD4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.signup-container {
  width: 100%;
}

.card {
  border-radius: 1rem;
}

.btn-primary {
  background-color: #4e73df;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #2e59d9;
  transform: scale(1.05);
}

a.text-primary:hover {
  color: #2e59d9 !important;
}
